<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EBAPClient" connectionString="server=JUN\IMOSSQL2014;database=EBAP_TESTQNZ1;uid=imosadmin;pwd=imos"/>
    <add name="EBAPLogging" connectionString="server=JUN\IMOSSQL2014;database=EBAPLogging;uid=imosadmin;pwd=imos"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="timer1Interval" value="3000"/>
    <add key="timer1Enabled" value="False"/>
    <add key="timer2Interval" value="6000"/>
    <add key="timer2Enabled" value="False"/>
    <add key="timer3Interval" value="9000"/>
    <add key="timer3Enabled" value="False" />
    <add key="timer4Interval" value="12000"/>
    <add key="timer4Enabled" value="False" />
    <add key="timer1ServerAddress" value="http://192.168.105.11:8090/uapws/service/ICorpServicePort" />
    <add key="timer2ServerAddress" value="http://192.168.105.11:8090/uapws/service/ICorpServicePort" />
    <add key="timer3ServerAddress" value="http://192.168.105.11:8090/uapws/service/ICorpServicePort" />
    <add key="timer4ServerAddress" value="http://192.168.105.11:8090/uapws/service/ICorpServicePort" />
    <add key="logPath" value="H:\\接口工具开发\\EBAP.RestTimer\\EBAP.RestTimer\\daylog"/>
  </appSettings>
</configuration>
